@import '../../sass/variables.scss';

.phone {
  p {
    margin-top: 13px;
  }
}

p.subtitle {
  width: 280px;
  margin-top: 13px;
}

.mask {
  margin-top: 13px;
}

.complete {
  width: 284px;
  margin-top: 13px;
}

.board {
  margin-top: 33px;
}

.title {
  font-weight: 400 !important;
}

.checkbox {
  margin-top: 33px;
}
