@import '../../sass/variables.scss';

.phone {
  p {
    margin-top: 13px;
  }
}

.mask {
  margin-top: 13px;
}

.complete {
  margin-top: 13px;
}

.board {
  margin-top: 33px;
}

.title {
  font-weight: 400 !important;
}

.checkbox {
  margin-top: 33px;
}
