@import '../../../sass/variables.scss';

.btn {
  padding: 12px 30px;
  border: 2px solid #4e4e4e;
  color: #4e4e4e;
  background: none;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  transition: background $animation-duration ease-in-out, color $animation-duration ease-in-out;
  &:hover {
    background: #000;
    color: #fff;
  }
  &:focus {
    background: #000;
    color: #fff;
  }
}
