@import '../../sass/variables.scss';

.scan {
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 251px;
  align-items: center;
  background: $main-color;
  text-align: center;
  a {
    &:focus {
      outline: none;
      button {
        outline: 3px solid #000;
        color: #000;
        background: $main-color;
      }
    }
  }
}

.qr {
  margin-top: 20px;
  width: 126px;
  height: 126px;
  object-fit: contain;
}

.button {
  margin-top: 20px;
}

.subtitle {
  margin-top: 20px;
  max-width: 126px;
}
